In [1]:
pip install kafka-python

Requirement already satisfied: kafka-python in /Users/christopherozurumba/anaconda3/lib/python3.11/site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [3]:
producer = KafkaProducer(bootstrap_servers=['44.211.255.52:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [4]:
producer.send('demo_test', value={'surnasdasdame':'parasdasdmar'})

In [4]:
df = pd.read_csv("data/indexProcessed.csv")

In [5]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [7]:
df.sample(1)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
82705,GDAXI,1999-03-15,5034.910156,5086.430176,4988.169922,5043.22998,5043.22998,0.0,6152.740576

convert sample record to dictionary

In [8]:
df.sample(1).to_dict()

{'Index': {62352: '399001.SZ'},
 'Date': {62352: '2006-04-17'},
 'Open': {62352: 3753.959961},
 'High': {62352: 3804.209961},
 'Low': {62352: 3743.060059},
 'Close': {62352: 3760.629883},
 'Adj Close': {62352: 3760.587646},
 'Volume': {62352: 60000.0},
 'CloseUSD': {62352: 601.70078128}}

convert sample record to proper standard format using orient

In [10]:
df.sample(1).to_dict(orient="records")[0]

{'Index': 'GSPTSE',
 'Date': '1990-04-25',
 'Open': 3342.5,
 'High': 3344.300049,
 'Low': 3329.100098,
 'Close': 3343.199951,
 'Adj Close': 3334.709717,
 'Volume': 18850000.0,
 'CloseUSD': 2774.85595933}

In [ ]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test', value=dict_stock)
    sleep(1)

In [ ]:
producer.flush()